/*<-- project specs -->


*/

:root {
  /* --text-color-inside-button: #595f6e; */
  --box-shadow-container: 3px 5px 15px -8px rgba(0, 0, 0, 0.5);
  --box-shadow-red-shadow: 3px 5px 5px 2px #ff0000;
  --box-shadow-button: 0px 3px 5px -2px rgb(0, 0, 0);
  /* --color-blue: #000241;  */
  /* --toyota-red: #4d22c2; */
  --toyota-red: #ff0000;

  --button--color: #4d22c2;
  --legend-text-color: #3502a4dc;

  --color-blue: #505299;
  --output-text-color: #ffffff;
  --input-font-size: 14px;
  --input-height: 25px;
  --input-width: 150px;
  --input-text-color: #2c2b2b;
  --tag-text-color: #ffffff;
  /* background-color: #34393d; */
  /* filter: drop-shadow(2px 3px 5px #0000009a); */
}

body {
  font-family: Roboto, Arial;
  padding-bottom: 80px;

  background-image: url(../images/layered-waves-haikei-higher-5.svg),
    /*  */
      linear-gradient(
        105deg,
        rgb(152, 182, 251) 0%,
        hsl(223deg 87% 84%) 6%,
        hsl(223deg 77% 88%) 12%,
        hsl(223deg 50% 93%) 21%,
        hsl(224deg 50% 95%) 32%,
        hsl(224deg 50% 98%) 47%,
        hsl(0deg 0% 100%) 61%,
        hsl(297deg 67% 98%) 72%,
        hsl(296deg 67% 97%) 80%,
        hsl(296deg 67% 95%) 86%,
        hsl(299deg 50% 92%) 91%,
        hsl(303deg 46% 89%) 96%,
        hsl(305deg 44% 85%) 100%
      );
  /*  */
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  image-rendering: auto;
  image-rendering: pixelated;

  /* <-- --> */
}

.outer-legend {
  font-size: x-large;
  font-weight: 600;
  border-radius: 5px;
  color: var(--legend-text-color);
}

.inner-legend {
  font-weight: 400;
  font-size: larger;
  color: var(--legend-text-color);
}

/* <-- ** --> */
/* FORM */
#form {
  /* To center the form when the window is resized */
  position: relative;
  left: 50%;
  /* Start with top left in the center */
  top: 55px;
  width: 400px;
  /* The fixed width... */
  margin-left: -215px;
  /* Shift over half the width */
  margin-top: -50px;
  /* Shift up half the height */
}

/* check contract expiry warning */
#check-contract-expiry {
  display: block;
  position: absolute;
  left: 135px;
  bottom: 230px;
  font-weight: 900;
  font-size: 16px;
  width: fit-content;
  color: yellow;
  border-bottom: solid 3px orange;
}
/* <-- ** --> */
/* Account details <-> Payment arrangement details */
.account-details,
.arrangement-details-container {
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  width: 100%;
  margin-top: 20px;
  border-radius: 2%;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
}

/* Arrears - Current payment details - Payment arrangement details */
.arrears-details,
.payment-details,
.arrangement-details {
  margin: 15px;
  box-shadow: var(--box-shadow-container);
  position: relative;
  height: 230px;
  padding: 20px;
  padding-top: 10px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(
    270deg,
    hsla(263, 58%, 47%, 0.916) 0%,
    hsla(226, 36%, 49%, 0) 100%
  );
}

.arrears-details {
  /* height: 220px; */
  height: 220px;
  padding-top: 30px;
}

.payment-details {
  height: 230px;
}

/****************************/
/***** Overdue and Monthly ********/
/****************************/

.overdue-container,
.monthly-amount-container {
  font-size: var(--input-font-size);
  color: var(--color-blue);
  position: relative;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow-button);
  overflow: hidden;
  /* width: fit-content; */
  margin-left: 15px;
  border-radius: 15px;
  background-color: #ffffff;
}

.overdue-container input,
.monthly-amount-container input {
  height: var(--input-height);
  width: var(--input-width);
  font-size: var(--input-font-size);
  color: var(--color-blue);
  padding-top: 22px;
  /* keep padding to push curser down when typing*/
  border: none;
  outline: none;
  margin-left: 10px;
  padding-bottom: 6px;
  padding-left: 35px;
}

/* overdue-input */

.overdue-container label,
.monthly-amount-container label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* so you can click -through- the label*/
  border-bottom: 2px solid var(--button--color);
}

.overdue-container label::after,
.monthly-amount-container label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: -2px;
  border-bottom: 4px solid var(--toyota-red);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.monthly-amount-container input:valid + .label .content-name::after,
.overdue-container input:valid + .label .content-name::after {
  content: "\00024";
  position: absolute;
  bottom: -18.5px;
  left: 15px;
  font-weight: 500;
  color: var(--color-blue);
}

.overdue-container input:valid + .label .content-name::after {
  color: var(--toyota-red);
}

.overdue-container input:focus + .label .content-name,
.overdue-container input:valid + .label .content-name {
  padding-bottom: 3px;
  transform: translateY(-100%);
  font-size: var(--input-font-size);
  color: #ff0000;
}

.overdue-container input:focus + .label::after,
.overdue-container input:valid + .label::after {
  transform: translateX(0%);
}

.monthly-amount-container label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -2px;
  /* Underline */
  border-bottom: 4px solid var(--button--color);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  transition: all 0.3s ease;
}

.monthly-amount-container input:focus + .label .content-name,
.monthly-amount-container input:valid + .label .content-name {
  padding-bottom: 3px;
  transform: translateY(-100%);
  font-size: var(--input-font-size);
  /* Monthly amount text */
  color: var(--button--color);
}

.monthly-amount-container input:focus + .label::after,
.monthly-amount-container input:valid + .label::after {
  transform: translateX(0%);
}

/****************************/
/***** Drop Down *******/
/****************************/

.select {
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  /* background-color: #ede9ff; */
  background-color: #ffff;
  width: 155px;
  padding: 10px;
  transition: 0.4s;
  color: var(--color-blue);
  border: none;
  margin-left: 15px;
  box-shadow: var(--box-shadow-button);
  text-align: center;
  cursor: pointer;

  /* to remove default browser styling such as the arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

/* .select-wrapper::after { */
.select-wrapper::after {
  content: "Billing day";
  margin-left: 50px;
  color: #fdfeff;
}

.select:focus,
.select:hover {
  background-color: var(--button--color);
  color: #fdfeff;
  font-size: medium;
  transition: 0.4s;
}

/**************************/
/****** FREQUENCY-TOGGLE-BUTTON *******/
/**************************/

.frequency-toggle-container {
  position: relative;
  /* padding: 10px 10px 20px 15px; */
  padding: 5px 10px 20px 15px;
  height: var(--input-height);
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

input[type="checkbox"].frequency-input {
  opacity: 0;
  position: absolute;
  left: -9000;
  top: -9000;
}

input[type="checkbox"].frequency-input + label {
  display: flex;
  position: relative;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  /*<<<<--- KEEP ME! to center text */
  cursor: pointer;
  /* stop highlighting text */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

input[type="checkbox"].frequency-input + label::before {
  content: "";
  text-align: left;
  display: flex;
  /*<<<<--- KEEP ME! to center text */
  position: relative;
  /*<<<<--- KEEP ME! to center text */
  align-items: center;
  /*<<<<--- KEEP ME! to center text */
  /* width: 10em; */
  width: 10em;
  height: 2.5em;
  background-color: #ffffff;
  /* box-shadow: var(--box-shadow-button); */
  /*  */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  /*  */
  border-radius: 0.7em;
  margin-right: 3em;
  /*<--- Margin for Label*/
}

input[type="checkbox"].frequency-input + label::after {
  position: absolute;
  display: flex;
  /*<<----- TO CENTER CONTENTS */
  justify-content: center;
  /*<<----- TO CENTER CONTENTS */
  align-items: center;
  /*<<----- TO CENTER CONTENTS */
  left: 0.2em;
  top: 0.2em;
  bottom: 0;
  content: "Weekly";
  align-content: center;
  font-size: 0.875em;
  height: 0.9em;
  width: 5.5em;
  height: 2.5em;
  background-color: var(--button--color);
  /*  */
  /*  */
  color: #ffffff;
  border-radius: 0.6em;
  filter: drop-shadow(0px 0px 1px #0000009a);
  box-shadow: -3px 0px 5px -3px black, 3px 0px 5px -3px black;
  transition: all 0.4s ease;
}

input[type="checkbox"].frequency-input:checked + label::before {
  /* <<<<--- BEFORE + checked property */
  content: "";
  background-color: #ffffff;
}

input[type="checkbox"].frequency-input:checked + label::after {
  /* <<<<---  AFTER + checked property */
  background-color: #ffffff;
  transform: translateX(100%);
  content: "Fortnightly";
  color: var(--button--color);
  outline: 2px solid var(--button--color);
  box-shadow: -5px 0px 5px -3px black, 5px 0px 5px -3px black;
  /* transition: background-color 200ms ease-in-out; */
}

.frequency-toggle-container label {
  color: var(--color-blue);
}

/**************************/
/***** min-pref toggle button ***/
/**************************/

/* toggle in label designing */

.toggle {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: #ffffff;
  /* box-shadow: var(--box-shadow-button); */
  /*  */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.336) inset;
  /*  */
  border-radius: 20px;
  /* border: 2px solid #ff0000; */
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.toggle p {
  pointer-events: none;
  /* stop highlighting text */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */

  color: var(--button--color);
  position: absolute;
  top: -10px;
  padding-left: 8px;
  font-weight: 400;
}

/* After slide changes:: after the -contents- of an element */
.toggle:after {
  content: "";
  position: absolute;
  width: 52px;
  height: 30px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 1px #0000009a);
  background-color: #ffffff;
  left: 47px;
  /*  */
  box-shadow: -3px 0px 5px -3px black, 3px 0px 5px -3px rgb(0, 0, 0);
  /*  */
  transition: all 0.4s ease;
}

.checkbox:checked + .toggle p {
  left: 13px;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 1.5px;
}

/* Checkbox vanished */
.checkbox {
  display: none;
}

/* Min Pref Tag */
.min-pref-label {
  position: relative;
  left: 225px;
  top: 20px;
  cursor: pointer;
  color: var(--color-blue);
  /* stop highlighting text */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  /* text color */
  color: #ffffff;
}

/**************************/
/**************************/
/**************************/

/* date picker */
.date-picker {
  position: relative;
  height: 32px;
  width: 110px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 45px;
  padding-left: 2px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-button);
  border: none;
  outline: none;
  font-size: var(--input-font-size);
  font-family: Roboto, Arial;
  color: var(--color-blue);
  cursor: pointer;
}

input[type="date"] + label {
  display: inline-block;
  margin-left: 30px;
  /* color: var(--color-blue); */
  color: #ffffff;
}

/**************************/
/**** current payment Display ******/
/**************************/
.regular-payment {
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 193px;
  /* color: var(--color-blue); */
  color: #fdfeff;
}

.regular-payment-amount {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 16px;
  /* color: var(--color-blue); */
  color: #ffffff;
  font-weight: 900;
  font-size: large;
  background-color: #a27be6d3;
  border-radius: 2px;
}

.weekly-fortnightly-tag {
  display: inline-block;
  position: absolute;
  width: fit-content;
  top: 188px;
  left: 105px;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.fortnightly {
  display: inline-block;
  position: absolute;
  width: fit-content;
  padding: 5px;
  left: 105px;
  top: 188px;
  /* bottom: 32px; */
  font-size: var(--input-font-size);
  border: solid 2px var(--button--color);
  border-radius: 7px;
  color: var(--button--color);
  background-color: #ffffff;
  transition: all 0.4s ease;
}

.weekly {
  display: inline-block;
  position: absolute;
  padding: 5px;
  left: 105px;
  top: 188px;
  /* bottom: 32px; */
  border: solid 2px var(--button--color);
  border-radius: 7px;
  color: #ffffff;
  font-size: var(--input-font-size);
  background-color: var(--button--color);
  transition: all 0.4s ease;
}

/* Payment arrangement details */

/* <-- Proposed payment --> */

.proposed-payment-container {
  font-size: var(--input-font-size);
  color: var(--color-blue);
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow-button);
  overflow: hidden;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #ffffff;
}

.proposed-payment-container input {
  height: var(--input-height);
  width: var(--input-width);
  font-size: var(--input-font-size);
  color: var(--color-blue);
  padding-top: 22px;
  border: none;
  outline: none;
  margin-left: 10px;
}

.proposed-payment-container input {
  padding-bottom: 6px;
  padding-left: 35px;
  color: var(--color-blue);
}

.proposed-payment-container label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 2px solid var(--button--color);
}

.proposed-payment-container label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: -2px;
  border-bottom: 4px solid var(--button--color);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.proposed-payment-container input:valid + .label .content-name::after {
  content: "\00024";
  position: absolute;
  bottom: -18.5px;
  left: 15px;
  font-weight: 500;
}

.proposed-payment-container input:focus + .label .content-name,
.proposed-payment-container input:valid + .label .content-name {
  padding-bottom: 3px;
  transform: translateY(-100%);
  font-size: var(--input-font-size);
  color: var(--color-blue);
}

.proposed-payment-container input:focus + .label::after,
.proposed-payment-container input:valid + .label::after {
  transform: translateX(0%);
}

/* <-- ** --> */
/* <-- ** --> */

/* Number of payments */
.number-of-payments-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  position: relative;
  /*  */
  margin-left: 5px;
  /*  */
  padding-left: 15px;
}

.number-of-payments-container p {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  color: rgb(20, 25, 120);
  font-weight: 700;
  font-size: larger;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
}

.number-of-payments-container label {
  display: inline-block;
  color: #ffffff;
}

/* <-- ** --> */

/* Number of days */
.number-of-days-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  position: relative;
  /*  */
  margin-left: 5px;
  /*  */
  padding-left: 15px;
}

.number-of-days-container p {
  position: relative;
  display: inline-block;
  margin-left: 62px;
  color: rgb(20, 25, 120);
  font-weight: 700;
  font-size: larger;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
}

.number-of-days-container label {
  display: inline-block;
  color: #ffffff;
}

/* <-- ** --> */

/* Aditional amount */
.aditional-amount-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  position: relative;
  /*  */
  margin-left: 5px;
  /*  */
  padding-left: 15px;
}

.aditional-amount-container p {
  position: relative;
  position: absolute;
  display: inline-block;
  margin-left: 45px;
  color: rgb(20, 25, 120);
  font-weight: 700;
  font-size: larger;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
}

.aditional-amount-container label {
  display: inline-block;
  position: relative;
  top: 20px;
  color: #ffffff;
}

/* <-- ** --> */
/* Arrangement end date */
.arrangement-end-date-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  position: relative;
  /*  */
  margin-left: 5px;
  /*  */
  padding-left: 15px;
}

.arrangement-end-date-container p {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  color: rgb(20, 25, 120);
  font-weight: 600;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
  padding: 5px;
}

.arrangement-end-date-container label {
  display: inline-block;
  color: #ffffff;
}

/* Regular payments resume */
.regular-payments-resume-container {
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.regular-payments-resume-container p {
  position: relative;
  display: inline-block;
  margin-left: 14px;
  color: rgb(20, 25, 120);
  font-weight: 600;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
  padding: 5px;
}

.regular-payments-resume-container label {
  display: inline-block;
  color: #ffffff;
  margin-left: 20px;
}

/* Arrangement Total  */
.arrangement-total-container {
  position: relative;
  width: 300px;
  height: 41px;
  display: inline-block;
  position: relative;
  /*  */
  margin-left: 5px;
  /*  */
  padding-left: 15px;
}

.arrangement-total-container p {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  color: rgb(20, 25, 120);
  font-weight: 700;
  font-size: larger;
  border-bottom: solid 2.5px yellow;
  color: var(--output-text-color);
}

.arrangement-total-container label {
  display: inline-block;
  color: #ffffff;
}

/* Clear button */
#clear_button {
  width: fit-content;
  display: block;
  position: relative;
  margin-left: 185px;
  border-radius: 10px;
  /*  */
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.44);
}

#clear_button button {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 0, 0.144);
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: var(--input-font-size);
  /* font-size: 16px; */
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-top: 30px;
}

#clear_button button:hover {
  color: orange;
  background-color: rgba(153, 205, 50, 0.381);
}
/* <-- ** --> */
/* extending arrangement-details to contain all elements  */
.arrangement-details {
  height: 390px;
}

/* <---********************************************************************---> */
/* <---********************************************************************---> */
