/* This sheet includes styles for the monthly calculations */

.tabs {
  position: relative;
  bottom: 10px;
  margin: auto;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.tabs button {
  background-color: #404056;
  outline: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-container);
  color: var(--legend-text-color);
}

.monthly-arrangement-details {
  display: none;
  margin: auto;
}
.number-of-months-container label {
  color: var(--legend-text-color);
}

.num-of-months {
  width: 10.5em;
  height: 3em;
  font-size: var(--input-font-size);
  color: var(--color-blue);
  border: none;
  outline: none;
  margin-left: 15px;
  border-radius: 5px;
  text-align: center;

  /* background-color: tomato; */
}

.months {
  width: 10.5em;
  height: 3em;
  font-size: var(--input-font-size);
  color: var(--color-blue);
  border: none;
  outline: none;
  margin-left: 15px;
  border-radius: 5px;
  text-align: center;

  /* background-color: olive; */
}

.monthly-arrangement-details label {
  display: inline-block;
  margin-left: 30px;
  color: #ffffff;
}

/* .monthly-date-picker {
  position: relative;
  width: 10.5em;
  height: 3em;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 2px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-button);
  border: none;
  outline: none;
  font-size: var(--input-font-size);
  font-family: Roboto, Arial;
  color: var(--color-blue);
  cursor: pointer;
  text-align: center;
} */

.amount-per-month,
.total-monthly-arrangement {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 30px;
  margin-top: 30px;
  gap: 30px;
  margin-left: 25px;
}

.amount-per-month-label + label {
  color: var(--legend-text-color);
}
.total-monthly-arrangement label + label {
  color: var(--legend-text-color);
}
.total-monthly-label,
.amount-per-month-label {
  color: #ffffff;
}
/*  */
/* .month-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
} */
/*  */
.month {
  margin: 10px;
  margin-left: 30px;
  color: var(--legend-text-color);
}

#months-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  gap: 20px;
}
/*  */

#months-dates-and-input-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

#months-dates-containter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*  */

/*  */
.hide {
  display: none;
}

.show {
  display: block;
}

.show-monthly {
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  top: 25px;
  margin-bottom: 50px;
  align-items: center;
  gap: 20px;
  background-color: #404056;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.336);
}
/* .payment-details,
.arrangement-details,
.arrangement-outer-legend,
.QA-container {
  display: none;
} */
